@media screen and (max-width:500px){
  *{
    margin: 0;
    padding: 0;
  }
  body{
    background: black;
    width: 100%;
    margin: 0;
  }
  header{
   width: 100%;
   margin: 5px auto; 
  }
  nav li{
    font-size: 20px;
  }
  
  nav li a{
    font-size: 20px;
  }
  
  
  img.image{
    width: 40px;
    height: 40px;
    margin-right: 5px;
  }
  
  main{
    background-image: url(background.jpg);
    background-size: cover;
    width: 100%;
    margin: 0 auto;
    margin-right: 0;
    margin-left: 0px;
    margin-top: 0px;
  }
  img{
    height: 400px;
    width: 400px;
    
  }
  div{
    margin: 0px auto;
    justify-content: center;
    width: 80%;
  
  }
  div.figtwo{
    width: 80%;
    margin: 10px auto;
    margin-left: 5px;
    margin-right: auto;
  }
  
}